.vote-field {
    position: relative;
    top: 200px;
    left: 40%;
}

.vote-field__header {
    color: blue;
    font-size: 40px;
}

.vote-field__col {
    position: relative;
    display: inline-block;
    padding-right: 5px;
}

.button {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.result-table {
    display: none;
}

